
.aboutus{
    color: black;
    font: bold;
    display:inline-block;
    font-size: 16px;
    left: 700px;
    cursor: pointer;
}
.volunteers{
    color: black;
    font: bold;
    display:inline-block;
    font-size: 16px;
    left: 800px;
    cursor: pointer;
}
.students{
    color: black;
    font: bold;
    display:inline-block;
    font-size: 16px;
    left: 900px;
    cursor: pointer;
   
}
.contactus{
    color: black;
    font: bold;
    display:inline-block;
    font-size: 16px;
    left: 1000px;
    cursor: pointer;
}